<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  <style>
     
.social-link li{
    display: table-cell;
    vertical-align: middle;
}
    .social-link a {
    color: #c6d4e0;
    text-decoration: none;
    padding: 8px;
}
    .social-link a:hover {
    color: #c6d4e0;
    background-color:#7dc3ffb5;
    border-radius: 100px;
}
    .social-link ul {
    margin-top: 18px;
    margin-bottom: 10px;
    padding-left: 7px;
}
    .NavAside {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    float: right;
    margin-top: -32px;
    color: #9c9d9ee6;
    padding-left: -1px;
}
    .NavAside span {
    padding: 10px;
}
    .NavAside span:hover {
    color:white;
}
   .navbar-header {
    width: 100%;
}
    .NavAside span a{
        text-decoration:none;
        color:#9c9d9ee6;
    }
    #mainLogo{
    width: 187px;
    height: 60px;
}
    /*.col-md-12*/
  .navigation {
    top: 50px;
    background-color: #0000001f;
    padding-right: 30px;
    padding-left: 50px;
}
  .container.navbar-fixed-top.myNav {
    margin: 0px;
    width: 100%;
}
  .Top-Header-Container {
    margin: 0;
}
  .Top-Header {
    margin-left: 36px;
}
  .social-link {
    margin-left: 37px;
}
  .mainImg {
    /* margin-top: 50px; */
}
  .mainImg{
      background-image:url('../../myImages/multi-storey-car-park-2705368_960_720.jpg');
      height:500px;
      background-repeat:no-repeat;
      background-size:cover;
  }
  div#backImgDiv {
    margin-left: -100px;
    margin-right: -100px;
}
  .mainImg {
    margin-top: 0px;
}
  ul.nav.navbar-nav.fixed-top.menu-main-menu {
    margin-top: 24px;
    font-weight: 900;
    font-size: 16px;
    font-family: unset;
}
  .slideInLeft {
    display: inline-block;
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-transform: capitalize;
    padding: 50px 90px 30px 90px;
    font-weight: bold;
    position: relative;
    top: 170px;
    left: 68px;
    font-family: -webkit-pictograph;
}
  span#slideInLeftSpan1 {
    font-size: 60px;
}
  span#slideInLeftSpan2 {
    font-size: 40px;
}
  spanBtn{
       color: #ffffff;
    background-color: rgba(153,153,153,0.01);
    border-color: #ffffff;
    border-width: 2px;
    text-align: center;
  }
  .thim-button--rayen {
    width: 100%;
    overflow: hidden;
    padding: 0;
}
  .thim-button--border-thick {
    border: 3px solid;
}
.thim-button--border-thick {
          border: 3px solid;
      }
.thim-button {
    float: left;
    display: block;
    padding: 0.5em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

  /*.anchorNav:hover{
    border-bottom: 5px solid #9e2727;
    padding-bottom: 0px;
}*/
  .BluePart.container {
    background-color: #065fd2;
}
  .aboutdiv {
       margin-top: 150px
}
  .thim-button--rayen .before, .thim-button--rayen > span {
    padding: 0.5em 2em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
    </style>

</head>
<body>
    <!--Mycode-----Navbar-top-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container Top-Header-Container">
            <div class="navbar-header Top-Header">
               <div class="social-link">
                    <ul>
                        <li>
                            <a href="http://www.facebook.com/reppsgarage">
                                <i class="fa fa-facebook fa-lg">

                                </i>

                            </a>

                        </li>
                        <li>

                            <a href="http://www.instagram.com/reppsgarage/">
                                <i class="fa fa-instagram fa-lg">

                                </i>

                            </a>

                        </li>
                    </ul>

                </div>
                <aside id="thim_info-2" class="NavAside col-lg-8 col-lg-offset-2">
                    <span class="address">
                        <i class="fa fa-map-marker"></i>
                        MIDC, Kharadi, off Nagar Pune
                    </span>
                    <span class="phone"><i class="fa fa-phone"></i>020-6607 4000</span>
                    <span class="email">
                        <i class="fa fa-envelope-o"></i><a href="hello@zenrage.co.in">hello@zenrage.co.in</a>
                    </span><span class="time">
                        <i class="fa fa-clock-o"></i>
                        <span class="day">Mon-Fri:  24/7 Service</span>
                    </span>
                </aside>
            </div>
        </div>
        <div class="main-menu navbar-fixed-top">
            <div class="container navbar-fixed-top myNav">
                <div class="row">
                    <div class="navigation col-md-12">
                        <div class="tm-table">
                            <div class="menu-mobile-effect navbar-toggle" data-effect="mobile-effect">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                            <div class="width-logo table-cell sm-logo col-md-3">
                                <h1>
                                    <a class="no-sticky-logo" href="http://www.reppsgarage.co.uk/" title="ZenGarage | MOT | Servicing | Repairs - Automotive expertise you can trust..." rel="home">
                                        <img src="~/myImages/Logos_zenedge.png" alt="Zenrage | MOT | Servicing | Repairs" id="mainLogo" />
                                    </a>

                                </h1>
                            </div>
                            <nav class="width-navigation table-cell table-right col-md-3 col-md-offset-2">
                                <div class="inner-navigation container">
                                    <ul class="nav navbar-nav fixed-top menu-main-menu">
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                                @Html.ActionLink("Home", "Index", "Home", " ",new { @class = "anchorNav "})
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                                @Html.ActionLink("Customers", "About", "Home","", new { @class = "anchorNav "})
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                                @Html.ActionLink("Contact", "Contact", "Home","", new { @class = "anchorNav "})
                                            </li>

                                        }
                                        else
                                        {
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">

                                                @Html.ActionLink("Home", "Index", "Home", "",new { @class = "anchorNav "})
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                                @Html.ActionLink("Contact", "Contact", "Home","", new { @class = "anchorNav "})
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                                @Html.ActionLink("Your Details", "ViewCarsUser", "Home","", new { @class = "anchorNav "})
                                            </li>

                                        }
                                        @Html.Partial("_LoginPartial")

                                        @*<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop_to_right standard">
                                            <a href="http://www.reppsgarage.co.uk/services/" class="anchorNav"><span data-hover="Services">Services</span></a>*@
                                            
                                    </ul>

                                </div>
                            </nav>

                        </div>
                    </div>
                    <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid appointment" >
                    </div>
                        
                    </div>
                </div>
</div>

    </div>
    <div class="container body-content" style="padding-left:0px; padding-right:0px">
        @RenderBody()
        <hr />
        <footer>
            <div class="footerLinks col-md-3">
                <div class="social-link">
                    <ul>
                        <li>
                            <a href="http://www.facebook.com/reppsgarage">
                                <i class="fa fa-facebook fa-lg">

                                </i>

                            </a>

                        </li>
                        <li>

                            <a href="http://www.instagram.com/reppsgarage/">
                                <i class="fa fa-instagram fa-lg">

                                </i>

                            </a>

                        </li>
                        <li>

                            <a href="http://www.instagram.com/reppsgarage/">
                                <i class="fa fa-twitter fa-lg">

                                </i>

                            </a>

                        </li>
                        <li>

                            <a href="http://www.instagram.com/reppsgarage/">
                                <i class="fa fa-youtube fa-lg">

                                </i>

                            </a>

                        </li>
                        <li>

                            <a href="http://www.instagram.com/reppsgarage/">
                                <i class="fa fa-google fa-lg">

                                </i>

                            </a>

                        </li>
                    </ul>
                </div>
                <div class="Navlinks social-link ">
                    <ul>
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                @Html.ActionLink("Home", "Index", "Home", " ", new { @class = "anchorNav " })
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                @Html.ActionLink("Customers", "About", "Home", "", new { @class = "anchorNav " })
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                @Html.ActionLink("Contact", "Contact", "Home", "", new { @class = "anchorNav " })
                            </li>

                        }
                        else
                        {
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">

                                @Html.ActionLink("Home", "Index", "Home", "", new { @class = "anchorNav " })
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                @Html.ActionLink("Contact", "Contact", "Home", "", new { @class = "anchorNav " })
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item drop_to_right standard">
                                @Html.ActionLink("Your Details", "ViewCarsUser", "Home", "", new { @class = "anchorNav " })
                            </li>

                        }
                       

                        @*<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop_to_right standard">
                    <a href="http://www.reppsgarage.co.uk/services/" class="anchorNav"><span data-hover="Services">Services</span></a>*@
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p>&copy; @DateTime.Now.Year - My Zenrage Services</p>
            </div>
        </footer>
    </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

       
</body>
</html>
