@model  MyCarServicesFinal.ViewModel.ServiceViewModel
@{
    ViewBag.Title = "View Services";
}

<h2>View Services</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h3>Company</h3>
        </div>
        <div class="col-sm-3">
            <h3>Model</h3>
        </div>
        <div class="col-sm-3">
            <h3>Style</h3>
        </div>
        <div class="col-sm-3">
            <h3>color</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Model.Car.Company
        </div>
        <div class="col-sm-3">
            @Model.Car.Model
        </div>
        <div class="col-sm-3">
            @Model.Car.Style
        </div>
        <div class="col-sm-3">
            @Model.Car.Color
        </div>
    </div>
</div>

<h2>Add Services</h2>

@using (Html.BeginForm("AddService", "Home"))//action method ka nam create hoyga
{
    <div class="form-group">
        @Html.LabelFor(m => m.Service.Miles)
        @Html.TextBoxFor(m => m.Service.Miles, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Service.Price)
        @Html.TextBoxFor(m => m.Service.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Service.Details)
        @Html.TextBoxFor(m => m.Service.Details, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceType)
        @Html.DropDownListFor(m => m.Service.ServiceTypeId, new SelectList(Model.ServiceType, "Id", "ServiceName"),
                                "Select service type", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m=> m.Car.Id) 
    <button class="btn btn-primary" type="submit">Add Service</button>

}
<div class="container">
    <h1>Past Service Records</h1>
    @if (!Model.Services.Any())
    {

        <div class="alert alert-light" role="alert">
            No Services Yet!
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-2">
                <h4>Miles</h4>
            </div>
            <div class="col-sm-2">
                <h4>Prices</h4>
            </div>
            <div class="col-sm-2">
                <h4>Details</h4>
            </div>
            <div class="col-sm-2">
                <h4>Date Added</h4>
            </div>
            <div class="col-sm-2">
                <h4>Service-Type</h4>
            </div>

        </div>
        
            foreach (var item in Model.Services)
            {
                if (item.CarId == Model.Car.Id)
                {
            <div class="row">
                <div class="col-sm-2">
                    @item.Miles
                </div>
                <div class="col-sm-2">
                    @item.Price
                </div>
                <div class="col-sm-2">
                    @item.Details
                </div>
                <div class="col-sm-2">
                    @item.DateAdded
                </div>
                <div class="col-sm-2">
                    @item.ServiceType.ServiceName
                </div>
                <div>
                    @Html.ActionLink(" ", "DeleteService", item, new { @class = "btn btn-danger fa fa-trash" })
                </div>

            </div>
            <div>@Html.ActionLink("Show Less", "ViewServices", Model.Car)</div>
                 }
             }
    }
</div>